<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dominikk787.szyfry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Szyfry">
        <activity android:name=".OthersActivity"
            android:label="@string/title_others"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PlayfairKeyActivity"
            android:label="@string/title_playfairKey"
            android:parentActivityName=".PlayfairActivity" />
        <activity android:name=".PlayfairActivity"
            android:label="@string/title_playfair"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DMorseActivity"
            android:label="@string/title_dMorse"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CMorseActivity"
            android:label="@string/title_cMorse"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>